*,
*::before,
*::after {
    box-sizing: border-box;
    font-weight: bold;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to left, #8942a8, #ba382f);
    background-size: cover;
    overflow: auto;
}

.calculator-body {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-body>button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid orange;
    outline: none;
    background-color: lightcoral;
    padding: 0;
    margin: 0;
}

.calculator-body>button:hover {
    background-color: antiquewhite;
}

.largeB {
    grid-column: span 2;
}

.screen {
    grid-column: 1/-1;
    background-color: black;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    word-wrap: break-word;
    word-break: break-all;
}

.screen .small-screen {
    color: aqua;
    font-size: 20px;
}

.screen .big-screen {
    color: aquamarine;
    font-size: 50px;
}